In [ ]:
import pandas as pd

In [ ]:
base = pd.read_csv('quantitativo_alunos_graduacao.csv', encoding='latin1')

In [ ]:
#with open('quantitativo_alunos_graduacao.csv', newline='', encoding='latin1') as f:
#    reader = csv.reader(f)
#    for row in reader:
#        print(row)

In [18]:
base.head()

  CodCurso;NomeCurso;Ano;Periodo;Vinculados;Matriculados;Ingressantes;Diplomados;Evadidos
0       298;ADMINISTRAÇÃO;2010;1;1501;1337;166;91;24
1       583;ADMINISTRAÇÃO - EAD;2010;1;351;345;0;0;6
2              299;AGRONOMIA;2010;1;495;441;47;31;20
3  300;ARQUITETURA E URBANISMO;2010;1;625;557;53;...
4             301;ARQUIVOLOGIA;2010;1;157;134;30;4;6

In [20]:
base.shape

(1182, 1)

In [24]:
type(base)

pandas.core.frame.DataFrame

In [177]:
s = str(base.iloc[0])

In [181]:
d_columns = s.split('    ')[0].split(';')

In [182]:
print(d_columns)

['CodCurso', 'NomeCurso', 'Ano', 'Periodo', 'Vinculados', 'Matriculados', 'Ingressantes', 'Diplomados', 'Evadidos']

In [183]:
xd = pd.DataFrame(columns=d_columns)

In [184]:
print(xd)

Empty DataFrame
Columns: [CodCurso, NomeCurso, Ano, Periodo, Vinculados, Matriculados, Ingressantes, Diplomados, Evadidos]
Index: []

In [185]:
xd.head()

Empty DataFrame
Columns: [CodCurso, NomeCurso, Ano, Periodo, Vinculados, Matriculados, Ingressantes, Diplomados, Evadidos]
Index: []

In [186]:
for i in range(len(base)):
    s = str(base.iloc[i])
    s = s.split('    ')[1].split('\n')[0].split(';')
    if len(s) == len(d_columns):
        xd.loc[i] = s

In [189]:
print(xd.shape)

(959, 9)